<p class="border border-grey-300 text-center rounded-sm">Hey {{ name }},</p>
<p class="text-center font-sm">Please click the link below to change your password</p>
<p class="link">
    <a href="{{ url }}">Reset Password</a>
</p>

